<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<center>
<body>
    <h2>Parking System</h2>

    <div id = "slot">
        <b><p id = "heading">Available Parking Slot</p></b><br>
        <p id = "parkNum" th:text="${value}"></p>
    </div>


</body>
</center>
</html>